---
import CenteredContainer from "./centered_container.astro"
---

<footer class="w-full h-fit bg-[#423F3E] p-3">
    <CenteredContainer>
    <div class="flex flex-row gap-x-16 text-base text-[#DDDAD0]">
        <div class="flex-grow">
            <img src="/favicon.ico" alt="Project Reality Icon">
        </div>
        <div class="flex-none flex flex-col *:hover:text-[#0099ff]">
            <a href="https://www.realitymod.com/">Project Reality:</a>
            <a href="https://www.realitymod.com/downloads">Download</a>
            <a href="https://www.realitymod.com/">News</a>
            <a href="https://forum.realitymod.com/">Forum</a>
            <a href="https://www.realitymod.com/features">Features</a>
            <a href="https://www.realitymod.com/media">Media</a>
            <a href="https://www.realitymod.com/about">About</a>
            <a href="https://prspy.realitymod.com/">PRSPY</a>
            <a href="https://prstats.realitymod.com/">Stats</a>
            <a href="https://mapgallery.realitymod.com/#!/">Map Gallery</a>
        </div>
        <div class="flex-none flex flex-col *:hover:text-[#0099ff]">
            <h4>Social & Media:</h4>
            <a class="before:content-[url('src/assets/discord.svg')]" href="https://discord.gg/tSsaU7F"> Discord</a>
            <a class="before:content-[url('src/assets/youtube.svg')]" href="https://discord.gg/tSsaU7F" href="https://www.youtube.com/channel/UC9QwMtFdgVVrkVoUjzCvTWw"> YouTube</a>
            <a class="before:content-[url('src/assets/instagram.svg')]" href="https://discord.gg/tSsaU7F" href="https://www.instagram.com/projectrealitymod"> Instagram</a>
            <a class="before:content-[url('src/assets/facebook.svg')]" href="https://discord.gg/tSsaU7F" href="https://www.facebook.com/realitymod"> Facebook</a>
            <a class="before:content-[url('src/assets/github.svg')]" href="https://discord.gg/tSsaU7F" href="https://github.com/realitymod"> GitHub</a>
        </div>
    </div>
        </CenteredContainer>
    <div class="text-center bg-[#171010] text-[#423F3E] p-2">Project Reality @2025 All Rights Reserved</div>
</footer>