---
import CenteredContainer from "./centered_container.astro"
---

<footer class="w-full h-fit bg-[#423F3E]">
    <CenteredContainer>
    <div class="flex flex-row gap-8">
        <div class="flex-grow">
            <img src="/favicon.ico" alt="Project Reality Icon">
        </div>
        <div class="flex-none flex flex-col">
            <a href="">Project Reality:</a>
            <a href="">Download</a>
            <a href="">News</a>
            <a href="">Forum</a>
            <a href="">Features</a>
            <a href="">Media</a>
            <a href="">About</a>
            <a href="">PRSPY</a>
            <a href="">Stats</a>
            <a href="">Map Gallery</a>
        </div>
        <div class="flex-none flex flex-col">
            <h4>Social & Media:</h4>
            <a href="">Discord</a>
            <a href="">You Tube</a>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Twitter</a>
        </div>
    </div>
        </CenteredContainer>
    <div class="text-center bg-[#171010] text-[#423F3E] p-2">Project Reality @2025 All Rights Reserved</div>
</footer>