---
import { Image } from 'astro:assets';

import PlayButton from '../components/action_button.astro';

import pr_logo from '../images/Project_Reality_Dogtags_Logo_256.png';
import pr_video from '../images/Project Reality： BF2 Standalone Trailer.mp4';
//mask-y-from-70% mask-y-to-80% mask-x-from-70% mask-x-to-85%
---

<div class="w-screen relative mask-y-from-85% mask-y-to-98% mask-x-from-90% mask-x-to-98%">
    <div class="absolute inset-0 m-auto h-fit w-fit">
        <div class="flex justify-center m-8">
            <Image src={pr_logo} alt="">
        </div>
        <PlayButton title="Download Project Reality" href="https://forum.realitymod.com/" variant="download">
            <span class="before:content-[url('src/assets/download.svg')]"></span>
        </PlayButton>
    </div>
    <div class="flex justify-center">
       <video autoplay muted loop  disablepictureinpicture class="w-full h-full object-cover">
            <source src={pr_video} type="video/mp4">
       </video>
    </div>

</div>