---


const { title } = Astro.props;
---
<!-- HTML comments supported! -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=download" />

<!-- Use props and other variables from the component script: -->
 <a href="https://www.realitymod.com/downloads" class="font-bold text-3xl text-white border-2 rounded-sm p-2 hover:bg-white/30 duration-200">
   <span class="material-symbols-outlined inline-block"> download </span>
   <div class="inline-block">{title}</div>
</a>

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
</style>